body{
	margin:0;
	padding:0;
	text-align:center;
	background-size:cover;
	background-position:center;
	font-family:san-serif;
}
.content{
	height:600px;
}
.contact-title{
	margin-top:60px;
	color:black;
	text-transform:uppercase;
	transition: all 4$ ease-in-out;
 }
.contact-title h1{
	font-size:35px;
	line-height:12px;
  }
.contact-title  h2{
	font-size: 35px;
  }
form{
	margin-top:60px;
	transition:all 4$ ease-in-out;
  }
.form-control{
	width:600px;
	background:transparent;
	border:none;
	outline:none;
	border-bottom:2px solid gray;
	color:brown;
	font-size:18px;
	margin-bottom:16px;
	}
  
input{
	height:40px;
  }
form. submit{
	background:white;
	border-color:transparent;
	color:black;
	font-size:20px;
	font-weight:bold;
	letter-spacing:2px;
	height:50px;
	margin-top:20px;
 }
footer
{
	margin-top:680px;
}

  
  
  
  
  
  
  